In [17]:
import pandas as pd
from collections import Counter

In [2]:
ratings = pd.read_csv('data/ratings.csv')
tags = pd.read_csv('data/tags.csv', encoding = "ISO-8859-1")
movies = pd.read_csv('data/movies.csv', encoding = "ISO-8859-1")

In [6]:
len(tags['tag'].unique())

13103

In [19]:
mydoclist = ['Julie loves me more than Linda loves me',
'Jane likes me more than Julie loves me',
'He likes basketball more than baseball']

In [21]:
for doc in mydoclist:
    tf = Counter()
    for word in doc.split():
        tf[word] +=1
    print(tf.items())

dict_items([('Linda', 1), ('me', 2), ('than', 1), ('loves', 2), ('more', 1), ('Julie', 1)])
dict_items([('me', 2), ('likes', 1), ('Julie', 1), ('than', 1), ('loves', 1), ('more', 1), ('Jane', 1)])
dict_items([('likes', 1), ('He', 1), ('than', 1), ('basketball', 1), ('more', 1), ('baseball', 1)])

In [28]:
for index, row in tags.iterrows():
    q = []
    q.append(row['tag'])

In [39]:
tags.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810

In [36]:
groupby_tag = tags['tag'].groupby(tags['movieId'])

In [47]:
exId = 1197
movieVector = tags['movieId'] == exId
q = pd.Series(tags[movieVector]['tag'].unique())

In [49]:
d = tags['tag'].unique()

In [123]:
tags_dict = dict()

for index,row in tags.iterrows():
    if row['movieId'] not in tags_dict:
        tags_dict[row['movieId']] = [row['tag']]
    else:
        tags_dict[row['movieId']].append(row['tag'])

In [128]:
tags_dict[2231]

['Edward Norton',
 'gambling',
 'Matt Damon',
 'poker',
 'Edward Norton',
 'watched 2006',
 'poker',
 'card games',
 'cards',
 'Edward Norton',
 'John Malkovich',
 'John Turturro',
 'Matt Damon',
 'poker',
 'Matt Damon',
 'poker',
 'library vhs',
 'Edward Norton',
 'poker',
 'Edward Norton',
 'gambling',
 'John Malkovich',
 'John Turturro',
 'Matt Damon',
 'poker',
 '2.5',
 'gambling',
 'Edward Norton',
 'John Malkovich',
 'John Turturro',
 'Edward Norton',
 'John Dahl']